name: first testing project

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'solar/*'

env:
  MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'
  MONGO_USERNAME: ${{ vars.MONGO_USERNAME }}
  MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}

jobs:
  unit-testing:
    name: unit testing
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: setup nodejs version 18
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: install dependencies
        run: npm install

      - name: unit testing
        run: npm test
      
      - name: Archive test resulets
        uses: action/upload-archive@v3
        with:
          name: mocha-test-result
          patch: test-result.xml
